.sub-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.sort-btn {
  background-color: #fff;
  border: 0;
  font-size: 16px;
}
.sort-btn:hover {
  cursor: pointer;
}
